.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  gap: 2rem;
}

.about-me-pointer {
  flex: 0.15;
  display: flex;
  align-items: center;
}

.about-me-pointer>span {
  width: 5rem;
  text-align: center;
  background-color: #374151;
  color: white;
  box-sizing: border-box;
  padding: 0.3rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.about-me-wrapper {
  flex: 1;
  height: 50%;
  display: flex;
}

.about-me-image,
.about-me-text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.about-me-image {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.about-me-image>img {
  height: auto !important;
  width: 45% !important;
  z-index: 2;
}

.about-me-text {
  align-items: flex-start;
  padding: 5rem;
  padding-left: 0;
  padding-top: 0;
  flex: 1;
}

.about-me-text>h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.about-me-text>ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.about-me-text>ul>li {
  font-size: 0.8rem;
  letter-spacing: 0.4px;
}

.about-me-text>ul>li>div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.about-me-text>ul>li>div>span {
  font-size: 0.8rem;
}

.about-picture-backdrop {
  width: 16rem;
  height: 19rem;
  background-color: black;
  position: absolute;
  top: 16%;
  left: 18%;
  z-index: 1;
}