.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  padding: 2rem;
}

.experience-pointer {
  flex: 0.15;
  margin-top: 2rem;
  gap: 1rem;
}

.experience-pointer>span {
  width: 5rem;
  text-align: center;
  background-color: #374151;
  color: white;
  box-sizing: border-box;
  padding: 0.3rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.experience-blocks-wrapper {
  flex: 1;
  gap: 2.5rem;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

.experience-pointer,
.experience-blocks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience-block {
  display: flex;
  flex: auto;
  width: 80%;
  background-color: #1F2937;
  border-radius: 1rem;
  box-shadow: 0px 2.5px black;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
}

.experience-location,
.experience-date {
  flex: 0.5;
}

.experience-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.experience-date {
  text-align: end;
  font-size: 0.8rem;
}

.experience-date-text-wrapper {
  display: flex;
}