.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 0.5rem;
}

.header-navbar {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.header-name>span {
  font-size: 1.2rem;
  font-weight: bolder;
}

.header-buttons {
  display: flex;
  gap: 1rem;
}

.header-buttons>button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.light-dark-mode {
  width: 20px;
  height: 20px;
  background-image: url("/icons/sun-svgrepo-com.svg");
}