.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 0.5rem;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.5rem;
}

.header-name>span {
  font-size: 1.2rem;
  font-weight: bolder;
}

.header-buttons {
  display: flex;
  gap: 1rem;
}

.header-buttons>button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}