@media screen and (max-width: 480px) {


  .intro-section {
    flex-direction: column-reverse;
    height: 45rem !important;
    gap: 2rem;
  }

  .about-me-section {
    padding: 1.5rem;
    gap: 2rem;
  }

  .about-me-wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .about-me-pointer {
    flex: 0.1 !important;
  }

  .about-me-image {
    padding: 0px !important;
  }

  .about-me-image>img {
    width: 45% !important;
    height: 60% !important;
  }

  .about-me-text {
    padding-top: 0 !important;
    padding-left: 2.5rem !important;
  }

  .skills-section {
    height: 50rem !important;
    gap: 1.5rem;
  }

  .skills-pointer>p {
    text-align: center;
  }

  .skills-icon-wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: auto !important;
    gap: 1rem;
  }

  .experience-block {
    flex-direction: column;
    width: 100% !important;
    gap: 1.5rem;
    padding: 2rem !important;
  }

  .experience-date {
    text-align: start !important;
  }

  .work-section {
    padding: 1rem;
  }

  .work-block {
    flex-direction: column;
  }

  .testemonials-section {
    padding: 1rem;
    gap: 1rem;
  }

  .testemonials-blocks-wrapper {
    flex-direction: column;
  }

  .contact-section {
    padding: 3rem;
  }
}