.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: auto;
  box-sizing: border-box;
  padding: 3rem !important;
}

.work-pointer {
  flex: 0.05;
}

.work-pointer>span {
  width: 5rem;
  text-align: center;
  background-color: #374151;
  color: white;
  box-sizing: border-box;
  padding: 0.3rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.work-blocks-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
}

.work-pointer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  box-sizing: border-box;
}

.work-block,
.work-block-reverse {
  background-color: #1F2937;
  flex: 0.5;
  width: 70%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 3px black;
  display: flex;
  margin: 0 auto;
}

.work-block-reverse {
  flex-direction: row-reverse;
}

.work-image,
.work-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-text {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1.5rem;
  gap: 2rem;
  margin-top: 1rem;
}

.work-text>span {
  width: 80%;
}

.work-image {
  background-color: #374151;
  max-height: 20rem;
  height: auto;
  border-radius: 1rem 0 0 1rem;
}

.work-image>img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem;
}

.work-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.work-skills>span {
  background-color: #374151;
  color: white;
  box-sizing: border-box;
  padding: 0.4rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}